# Database Configuration
DB_HOST=your-rds-endpoint.rds.amazonaws.com
DB_NAME=nexcast
DB_USER=admin
DB_PASSWORD=your-database-password
DB_PORT=3306

# AWS Cognito Configuration
COGNITO_USER_POOL_ID=us-east-1_E1etK3vnj
COGNITO_CLIENT_ID=6jctk3ttkjn5pn5d0qh294v81l
COGNITO_REGION=us-east-1

# S3 Configuration
S3_BUCKET_NAME=nexcast-frames
AWS_REGION=us-east-1
